<!-- header -->
<div class="header" role="banner">
  <div id="title">
    <span>{{ title }}</span>
  </div>
</div>
<!-- header -->

<div class="content" role="main">
  <!-- TODO: 動的に増やす -->
  <div class="card">
    <span>
      利用者: 7人
      待機中: 2人<br>
      定員上限: 7人
    </span>
    <svg id="circle" alt="circle" xmlns="http://www.w3.org/2000/svg" width="101.678" height="101.678" viewBox="0 0 101.678 101.678">
      <g transform="translate(-141 -696)">
        <circle cx="50.839" cy="50.839" r="50.839" transform="translate(141 696)" fill="#dd0031"/>
      </g>
    </svg>
  </div>

  <div class="card">
    <span>TODO</span>
    <svg id="circle" alt="circle" xmlns="http://www.w3.org/2000/svg" width="101.678" height="101.678" viewBox="0 0 101.678 101.678">
      <g transform="translate(-141 -696)">
        <circle cx="50.839" cy="50.839" r="50.839" transform="translate(141 696)" fill="#dd0031"/>
      </g>
    </svg>
  </div>

  <div class="card">
    <span>TODO</span>
    <svg id="circle" alt="circle" xmlns="http://www.w3.org/2000/svg" width="101.678" height="101.678" viewBox="0 0 101.678 101.678">
      <g transform="translate(-141 -696)">
        <circle cx="50.839" cy="50.839" r="50.839" transform="translate(141 696)" fill="#dd0031"/>
      </g>
    </svg>
  </div>
</div>

<router-outlet></router-outlet>
