.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #2196f3;
    color: white;
    font-weight: 600;
    border-bottom: solid 5px #64b5f6;
}

div#title {
    font-size: 60px;
    margin-left: 10px;
    flex: 1;
}
