$card_height: 128px;
$card_padding_height: 10px;
$card_margin_height: 10px;
$spacer_color: #0f477a;
$card_color: #3d87ce;
$card_border_color: #609cd5;
$user_limit_color: #c04a4a;
$user_unlimit_color: #58db72;
$circle_size: 180px;
.content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}

.card {
    border-radius: 4px;
    border: 1px solid card_border_color;
    color: white;
    background-color: $card_color;
    height: $card_height;
    width: 85vw;
    margin: 10px 8px 30px;
    padding: $card_padding_height;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 30%;
    position: relative;
}

.card_font {
    font-size: 40px;
    font-weight: 800;
}

.card .room {
    position: absolute;
    left: 9px;
    z-index: 1;
}

.vertical_line {
    border-left: 6px solid $spacer_color;
    position: absolute;
    right: 200px;
    height: calc(#{$card_height} + #{$card_padding_height} + #{$card_margin_height});
}

.room_wrap {
    width: 200px;
    height: calc(#{$card_height} + #{$card_padding_height} + #{$card_margin_height});
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.room_wrap div {
    height: 20px;
    padding: 20px;
}

.room_use_wrap {
    border: dashed $spacer_color;
    border-width: 0 6px 0 6px;
}

.room_wait_wrap {
    border: dashed $spacer_color;
    border-width: 0 6px 0 0;
}

.room_limit_wrap {
    position: absolute;
    right: 0;
    top: 0;
}

#circle_svg {
    width: $circle_size;
    height: $circle_size;
    position: absolute;
    left: -50px;
}

.unlimit_color {
    fill: $user_limit_color;
}

.limit_color {
    fill: $user_unlimit_color;
}
