.content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}

.card {
    border-radius: 4px;
    border: 1px solid #609cd5;
    color: white;
    background-color: #3d87ce;
    height: 64px;
    width: 85vw;
    margin: 10px 8px 30px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 30%;
    position: relative;
}

.card_font {
    font-size: 20px;
    font-weight: 800;
}

.card .room {
    position: absolute;
    left: 9px;
    z-index: 1;
}

.vertical_line {
    border-left: 6px solid #0f477a;
    position: absolute;
    right: 200px;
    height: 85px;
}

.room_wrap {
    width: 200px;
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.room_wrap div {
    height: 20px;
    padding: 5px;
}

.room_use_wrap {
    border: dashed #0f477a;
    border-width: 0 6px 0 6px;
}

.room_wait_wrap {
    border: dashed #0f477a;
    border-width: 0 6px 0 0;
}

.room_limit_wrap {
    position: absolute;
    right: 0;
    top: 0;
}

#circle_svg {
    width: 100px;
    position: absolute;
    left: -24px;
    top: -8px;
    z-index: 0;
}

.unlimit_color {
    fill: #58db72
}

.limit_color {
    fill: #c04a4a;
}
